.actionsContainer {
  width: 10%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: unset;
  margin-right: unset;
  max-width: 66%
}

.flex-item {
  width: 400px;
  height: 350px;
  border: 1px solid red;
}

.union {
  width: 25%;
  height: 350px;
}

