.actionContainer {
    width: 20%;
    height: 100%;
    float: right;
  }

  #cy1 {
    width: 40%;
    height: 97%;
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    top: 0px;
    left: 0px;
  }

  #cy2 {
    width: 40%;
    height: 97%;
    position: absolute;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    top: 0px;
    left: 50%;
  }

  .btn {
    position: absolute;
    top: 0px;
    font-size: 20px;
    left: 0px;
  }